*{
  margin: 0;
  padding: 0;
}

$primary-color: #121212;
$accent-color: #cf1c00;
$accent-secondary-color: #330700;
$primary-text-color: #eaeaea;

$header-height: 80px;
$footer-height: 80px;
$sidenav-width: 300px;

